@model IEnumerable<App_data.ViewModels.ThongKe.ThongKeMSSanPhamTheoSoLuong>

@{
    ViewData["Title"] = "ThongKeSP";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

@*<h2>Thống kê sản phẩm theo số lượng và màu sắc:</h2>

<form method="get" asp-controller="ThongKe" asp-action="ThongKeSPTheoThang">
    <label for="thangInput">Tháng:</label>
    <input type="month" id="thangInput" name="thang">
    <button type="submit">Lọc</button>
</form>

<div id="piechart"></div>

@section Scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ["Sản phẩm", "Số lượng"],
        @foreach (var item in Model)
        {
            <text>["@item.TenSP - @item.TenMS", @item.SoLuong], </text>
        }
                ]);

            var options = {
                title: "Thống kê sản phẩm mua theo số lượng và màu sắc",
                is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById("piechart"));
            chart.draw(data, options);
        }
    </script>
}*@
<h2>Thống kê sản phẩm theo số lượng và màu sắc:</h2>

<form method="get" asp-controller="ThongKe" asp-action="ThongKeSPTheoThang">
    <label for="thangInput">Ngày:</label>
    <input type="date" id="thangInput" name="ngay">
    <label for="thangInput">Tháng:</label>
    <input type="month" id="thangInput" name="thang">
    <label for="thangInput">Năm:</label>
    <input type="datetime-local" id="thangInput" name="nam">
    <button type="submit">Lọc</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div>
    <canvas id="columnChart" ></canvas>
</div>

<script>
    let labels = [];
    let data = [];

    @foreach (var result in Model)
    {
        <text>labels.push('@result.TenSP-@result.DoanhThu.ToString("n0") VND ');</text>
        <text>data.push('@result.SoLuong');</text>
    }

    var ctx = document.getElementById('columnChart').getContext('2d');
    var columnChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Số lượng',
                data: data,
                backgroundColor: ' #0d6efd',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 0.5
            }]
        },
        options: {
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Tên Sản Phẩm '
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Số lượng'
                    },
                    ticks: {
                        beginAtZero: true
                    }
                }
            }
        }
    });
</script>
@*<!DOCTYPE HTML>
<html>
<head>
    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light2", // "light1", "light2", "dark1", "dark2"
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Automotive Semiconductor Vendors 2015",
                    fontSize: 21
                },
                data: [{
                    type: "pie",
                    startAngle: 160,
                    @foreach(var x in ViewBag.ChatLieus){

                    }
                    toolTipContent: "<b>{label}</b>: {y}%",
                    indexLabel: "{label} - {y}%",
                    dataPoints: @Html.Raw(ViewBag.ChatLieus)
            }]
            });
            chart.render();

        }
    </script>
</head>
<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
</body>
</html>*@


