@using App_data.Models
@using App_data.ViewModels.ChiTietSPView
@model App_banAo.Models.ProductListViewModel
@{
    ViewData["Title"] = "AddKHuyenMaiVoSP";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
    List<KhuyenMaiView> listkms = ViewBag.KhuyenMaiView;
    List<ChiTietSanPham> listctsp = ViewBag.ChiTietSanPham;
    List<SanPham> listsp = ViewBag.SanPham;
    List<MauSac> listms = ViewBag.MauSac;
    List<Size> listsize = ViewBag.Size;
    List<Anh> listanh = ViewBag.Anh;
    int stt = 1;

    List<string> imageExtensions = new List<string>()
    {
         ".png", ".jpg", ".jpeg", ".gif", ".tiff", ".pdf",".webp",".jfif"
    };

}

   


<h2>Thêm Khuyến mãi Sản Phẩm</h2>
<hr />

            
                <label class="control-label">Mã Khuyến Mãi </label>
                <div>
        <select id="khuyenMaiSelect" class="form-control" style="width:700px;height:50px">
                        @foreach (var loaisp in listkms.ToList())
                        {
                            <option  value="@loaisp.Id">@loaisp.Ten</option>
                        }
                    </select>
                </div>

            
            <!-- Nhieu CSTP start-->

<table class="table">
    <thead>
        <tr>
            <th>
                Chọn
            </th>
            <th>
                STT
            </th>

            <th>
                Tên SP
            </th>

            <th>
                Tên Khuyến Mãi
            </th>
            <th>
                Tên Màu Sắc
            </th>
            <th>
                Tên Size
            </th>
            <th>
                Giá Khuyến Mãi
            </th>
            <th>
                Giá Trị KM
            </th>
            <th>
                Giá Gốc
            </th>
            <th>
                Trạng Thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.chiTietSanPhams)
        {
            <tr>
                <td>
                    <input type="checkbox" class="sanpham-checkbox" data-id="@item.Id">
                </td>
                <td>
                    @stt
                </td>

                <td>
                    <strong style="color:red">@item.TenSanPham</strong>
                </td>

                <td>
                    @{
                        var idCt = listctsp.FirstOrDefault(x => x.Id == item.Id);
                        var tk = listkms.FirstOrDefault(x => x.Id == idCt.IdKhuyenMai);
                        if (tk != null)
                        {
                            if (tk.NgayKetThuc >= DateTime.Now)
                            {
                                <strong style="color:green">@tk.Ten</strong>
                            }
                            else if (tk.NgayKetThuc < DateTime.Now)
                            {
                                <strong style="color:red">@tk.Ten hết hạn rồi</strong>
                            }

                        }
                        else
                        {
                            <strong></strong>
                        }
                    }
                </td>

                <td>
                    <strong style="color:brown">@item.TenMauSac</strong>
                </td>
                <td>
                    <strong style="color:red">@item.TenSize</strong>
                </td>
                <td>
                    @{
                        if (tk != null)
                        {
                            if (tk.NgayKetThuc >= DateTime.Now)
                            {
                                <strong style="color:green">$@(item.GiaKhuyenMai - item.GiaKhuyenMai * tk.GiaTri / 100) VND</strong>
                            }
                            else if (tk.NgayKetThuc < DateTime.Now)
                            {
                                <strong style="color:red">$@item.GiaGoc.ToString("n0") VND</strong>
                            }
                        }
                        else
                        {
                            <strong style="color:red">$@item.GiaGoc.ToString("n0") VND</strong>
                        }
                    }

                </td>
                <td>
                    @{
                        if (tk != null)
                        {
                            <strong style="color:green">@tk.GiaTri%</strong>
                        }
                        else
                        {
                            <strong></strong>
                        }
                    }

                </td>
                <td>
                    <strong style="color:red"><del>$@item.GiaGoc.ToString("n0") VND</del></strong>
                </td>
                <td>
                    @{

                        if (item.TrangThai == 0)
                        {
                            <strong style="color:red">Hết Hàng</strong>
                        }
                        else
                        {
                            <strong style="color:green">Còn Hàng</strong>
                        }
                    }

                </td>
                 @{
                    stt++;
                }
            </tr>
        }
    </tbody>
</table>
<div class="col-12">
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled"><a class="page-link" href="#">Previous</span></a></li>
            @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
            {
                <li class="page-item"><a class="page-link" href="/KhuyenMai/AddKHuyenMaiVoSP?ProductPage=@i">@i</a></li>

            }

            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
          
            <!-- Nhieu CSTP end-->
<button id="selectAllCheckbox" class="btn btn-primary">Chọn tất cả</button>
<br />
<div class="form-group">
    <button id="updateButton" class="btn btn-primary">Add Vo SP</button>
</div>
   

<div>
    <a asp-action="GetAllKhuyenMai">Quay lại</a>
</div>
<!-- JavaScript Libraries -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

<script>
    $(document).ready(function () {
        // Sự kiện khi click vào "Chọn tất cả"
        $("#selectAllCheckbox").click(function () {
            $(".sanpham-checkbox").prop("checked", true);
        });

        // Sự kiện khi click vào "Cập nhật"
        $("#updateButton").click(function () {
            var selectedKhuyenMai = $("#khuyenMaiSelect").val();
            var selectedSanPham = [];

            $(".sanpham-checkbox:checked").each(function () {
                selectedSanPham.push($(this).data("id"));
            });

            // Gửi dữ liệu lên server để cập nhật
            $.ajax({
                url: "/KhuyenMai/AddKHuyenMaiVoSP",
                type: "POST",
                data: {
                    idKhuyenMai: selectedKhuyenMai,
                    sanphams: selectedSanPham
                },
                success: function (response) {
                    if (response.success == true) {
                            location.reload();
                    } else {
                        toastr.error(response.message, 'Error Alert', { timeOut: 300 });
                    }
                },
                error: function (response) {
                    console.log(response);
                    toastr.error(response.message, 'Error Alert', { timeOut: 300 });
                }
            });
        });
    });

</script>


