@using App_data.Models
@using App_data.ViewModels.ChiTietSPView
@model App_banAo.Models.ProductListViewModel

@{
    ViewData["Title"] = "GetAllChiTietSanPhamAdmin";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
    List<KhuyenMaiView> listkms = ViewBag.KhuyenMaiView;
    List<ChiTietSanPham> listctsps = ViewBag.ChiTietSanPham;
    List<string> imageExtensions = new List<string>()
    {
         ".png", ".jpg", ".jpeg", ".gif", ".tiff", ".pdf",".webp",".jfif"
    };
    int stt = 1;
}

<h2>Quản Lý Chi Tiết Sản Phẩm</h2>

<p>
    <a asp-action="Create">Thêm mới CTSP</a>
</p>
<div>
<form asp-action="TimSanPhamTheoTenAdmin" asp-controller="ChiTietSP" method="get" enctype="multipart/form-data">
    <div class="input-group">
        <input type="text" name="TenSanPham" class="form-control" placeholder="Search for products">
        <div class="input-group-append">
            <span class="input-group-text bg-transparent text-primary">
                <button type="submit" class="fa fa-search"></button>
            </span>
        </div>
    </div>
</form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
               Ảnh
            </th>
            <th>
                Tên Sản Phẩm 
            </th>
            <th>
                Tên màu sắc  
            </th>
            <th>
               Tên Loại SP
            </th>
            <th>
                Mã Khuyến Mãi 
            </th>
            <th>
                Tên Nhà Cung Cấp 
            </th>
            <th>
                Tên Size
            </th>
            <th>
                Giá Gốc 
            </th>
            <th>
               Giá Khuyến Mãi 
            </th>
            <th>
                Số Lượng 
            </th>
            <th>
               Trạng Thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.chiTietSanPhams) {
        <tr>
            <td>
               <strong style="color:black">@stt</strong>
            </td>
            <td>
                    @{
                        

                        string extension = System.IO.Path.GetExtension(item.TenAnh);
                        if (imageExtensions.Contains(extension.Trim()))
                        {
                            <img class="img-fluid w-100" src="~/userassets/img/@item.TenAnh" />
                        }
                        else
                        {
                            <img class="img-fluid w-100" src="~/imgs/product-2.jpg" height="100px">
                        }

                    }
            </td>
            <td>
                <strong style="color:black">@item.TenSanPham</strong>
            </td>
            <td>
                    <strong style="color:black">@item.TenMauSac</strong>
            </td>
            <td>
                    <strong style="color:black">@item.TenLoaiSP</strong>
            </td>
            <td>
                    <strong style="color:black">@item.MaKhuyenMai</strong>
            </td>
            <td>
                    <strong style="color:black">@item.TenNhaCungCap</strong>
            </td>
            <td>
                    <strong style="color:black">@item.TenSize</strong>
            </td>
            <td>
                    <strong style="color:black">@item.GiaGoc.ToString("n0") VND</strong>
            </td>
            <td>
                    <strong style="color:black">@item.GiaKhuyenMai.ToString("n0") VND</strong>
            </td>
            <td>
                    <strong style="color:black">@item.soluong</strong>
            </td>
            <td>
                @{
                    if(item.TrangThai==0){
                            <strong style="color:red">Hết hàng </strong>
                    }
                    else{
                            <strong style="color:green">Còn  hàng </strong>
                    }
                }
            </td>
            <td>
                    <button class="btn btn-success">
                        @Html.ActionLink("Sửa", "UpdateCTSP", new { id = item.Id }, new { @style = "color:white;" })
                    </button>
                    <button class="btn btn-primary">
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }, new { @style = "color:white;" })
                    </button>
                    <button class="btn btn-danger">
                        @Html.ActionLink("Xóa", "Deletes", new { id = item.Id }, new { @style = "color:white;" })
                    </button>
            </td>
            @{
                stt++;
            }
        </tr>
}
    </tbody>
</table>
<div class="col-12">
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled"><a class="page-link" href="#">Previous</span></a></li>
            @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
            {
                <li class="page-item"><a class="page-link" href="/ChiTietSP/GetAllChiTietSanPhamAdmin?ProductPage=@i">@i</a></li>

            }

            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
